<!--
  版权所有（C）2018，西安大华时代网络科技有限公司。保留所有权利。
 -->
<!--
  成功案例组件模板
  @author 刘宏强
-->
<!-- Cases 1 -->
<section id="cases1">
</section>

<!--==========================
    Portfolio Section
  ============================-->
<section id="portfolio"  class="section-bg" >
  <div class="container">

    <header class="section-header">
      <h3 class="section-title">成功案例</h3>
    </header>

    <div class="row">
      <div class="col-lg-12">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">全部</li>
          <li data-filter=".filter-web">网站建设</li>
          <li data-filter=".filter-app">移动开发</li>
          <li data-filter=".filter-software">软件开发</li>
          <li data-filter=".filter-product">产品 / UI</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container">

      <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/1.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/1.png" data-lightbox="portfolio" data-title="陕西省建设法治协会官网" class="link-preview" title="预览"><i class="ion ion-eye"></i></a>
            <a href="http://www.sxsjsfzxh.org/" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="http://www.sxsjsfzxh.org/">陕西省建设法治协会官网</a></h4>
            <p>网站建设</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-software wow fadeInUp" data-wow-delay="0.1s">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/2.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/2.png" class="link-preview" data-lightbox="portfolio" data-title="筑八戒云服务平台" title="预览"><i class="ion ion-eye"></i></a>
            <a href="https://www.wdzbj.cn/" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="https://www.wdzbj.cn/">筑八戒云服务平台</a></h4>
            <p>软件开发</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-software wow fadeInUp" data-wow-delay="0.2s">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/3.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/3.png" class="link-preview" data-lightbox="portfolio" data-title="筑术云平台" title="预览"><i class="ion ion-eye"></i></a>
            <a href="https://www.zhushucloud.com/index" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="https://www.zhushucloud.com/index">筑术云平台</a></h4>
            <p>软件开发</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/4.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/4.png" class="link-preview" data-lightbox="portfolio" data-title="大强农产品网" title="预览"><i class="ion ion-eye"></i></a>
            <a href="http://www.dqncpw.com/" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="http://www.dqncpw.com/">大强农产品网</a></h4>
            <p>网站建设</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-software wow fadeInUp" data-wow-delay="0.1s">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/5.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/5.png" class="link-preview" data-lightbox="portfolio" data-title="Activiti工作流项目" title="预览"><i class="ion ion-eye"></i></a>
            <a href="#" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">Activiti工作流项目</a></h4>
            <p>软件开发</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/6.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/6.png" class="link-preview" data-lightbox="portfolio" data-title="掘金一号官网" title="预览"><i class="ion ion-eye"></i></a>
            <a href="http://www.juejinnet.com/" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="http://www.juejinnet.com/">掘金一号官网</a></h4>
            <p>网站建设</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-software wow fadeInUp">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/7.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/7.png" class="link-preview" data-lightbox="portfolio" data-title="客户关系管理系统" title="预览"><i class="ion ion-eye"></i></a>
            <a href="http://www.juejinnet.com/crm" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="http://www.juejinnet.com/crm">客户关系管理系统</a></h4>
            <p>软件开发</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.1s">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/8.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/8.png" class="link-preview" data-lightbox="portfolio" data-title="招聘微信公众号" title="预览"><i class="ion ion-eye"></i></a>
            <a href="#" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">招聘微信公众号</a></h4>
            <p>移动开发</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/9.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/9.png" class="link-preview" data-lightbox="portfolio" data-title="画瞰视界" title="预览"><i class="ion ion-eye"></i></a>
            <a href="#" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">画瞰视界</a></h4>
            <p>移动开发</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-software wow fadeInUp">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/10.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/10.png" class="link-preview" data-lightbox="portfolio" data-title="客户关系管理系统" title="预览"><i class="ion ion-eye"></i></a>
            <a href="https://www.xadhsd.com" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="https://www.xadhsd.com">智慧旅游</a></h4>
            <p>软件开发</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.1s">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/11.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/11.png" class="link-preview" data-lightbox="portfolio" data-title="招聘微信公众号" title="预览"><i class="ion ion-eye"></i></a>
            <a href="http://www.yangguangbao.com:8080/manage" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="http://www.yangguangbao.com:8080/manage">阳光报</a></h4>
            <p>移动开发</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/12.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/12.png" class="link-preview" data-lightbox="portfolio" data-title="画瞰视界" title="预览"><i class="ion ion-eye"></i></a>
            <a href="#" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">掌上咸阳</a></h4>
            <p>移动开发</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- #portfolio -->
