<!--
  版权所有（C）2018，西安大华时代网络科技有限公司。保留所有权利。
 -->
<!--
  成功案例组件模板
  @author 刘宏强
-->
<main id="main">
<section id="module-header">
  <div class="module-header-top">
  </div>
  <div class="module-header-bottom">
    <h3>成功案例</h3>
    <div class="heading-line"></div>
    <p>IT行业的特点决定服务是技术的延续，让客户放心，让客户满意，是我们服务的目标，也是公司的生存之本！</p>
  </div>
</section>

<section id="portfolio"  class="section-bg" >
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">全部</li>
          <li data-filter=".filter-web">网站建设</li>
          <li data-filter=".filter-app">移动开发</li>
          <li data-filter=".filter-software">软件开发</li>
          <li data-filter=".filter-product">产品 / UI</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container">

      <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/1.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/1.png" data-lightbox="portfolio" data-title="陕西省建设法治协会官网" class="link-preview" title="预览"><i class="ion ion-eye"></i></a>
            <a href="http://www.sxsjsfzxh.org/" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="http://www.sxsjsfzxh.org/">陕西省建设法治协会官网</a></h4>
            <p>网站建设</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-software wow fadeInUp" data-wow-delay="0.1s">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/2.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/2.png" class="link-preview" data-lightbox="portfolio" data-title="筑八戒云服务平台" title="预览"><i class="ion ion-eye"></i></a>
            <a href="https://www.wdzbj.cn/" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="https://www.wdzbj.cn/">筑八戒云服务平台</a></h4>
            <p>软件开发</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-software wow fadeInUp" data-wow-delay="0.2s">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/3.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/3.png" class="link-preview" data-lightbox="portfolio" data-title="筑术云平台" title="预览"><i class="ion ion-eye"></i></a>
            <a href="https://www.zhushucloud.com/index" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="https://www.zhushucloud.com/index">筑术云平台</a></h4>
            <p>软件开发</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/4.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/4.png" class="link-preview" data-lightbox="portfolio" data-title="大强农产品网" title="预览"><i class="ion ion-eye"></i></a>
            <a href="http://www.dqncpw.com/" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="http://www.dqncpw.com/">大强农产品网</a></h4>
            <p>网站建设</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-software wow fadeInUp" data-wow-delay="0.1s">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/5.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/5.png" class="link-preview" data-lightbox="portfolio" data-title="Activiti工作流项目" title="预览"><i class="ion ion-eye"></i></a>
            <a href="/" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="/">Activiti工作流项目</a></h4>
            <p>软件开发</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/6.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/6.png" class="link-preview" data-lightbox="portfolio" data-title="掘金一号官网" title="预览"><i class="ion ion-eye"></i></a>
            <a href="http://www.juejinnet.com/" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="http://www.juejinnet.com/">掘金一号官网</a></h4>
            <p>网站建设</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-software wow fadeInUp">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/7.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/7.png" class="link-preview" data-lightbox="portfolio" data-title="客户关系管理系统" title="预览"><i class="ion ion-eye"></i></a>
            <a href="http://www.juejinnet.com/crm" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="http://www.juejinnet.com/crm">客户关系管理系统</a></h4>
            <p>软件开发</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.1s">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/8.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/8.png" class="link-preview" data-lightbox="portfolio" data-title="招聘微信公众号" title="预览"><i class="ion ion-eye"></i></a>
            <a href="/" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="/">招聘微信公众号</a></h4>
            <p>移动开发</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/9.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/9.png" class="link-preview" data-lightbox="portfolio" data-title="画瞰视界" title="预览"><i class="ion ion-eye"></i></a>
            <a href="/" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="/">画瞰视界</a></h4>
            <p>移动开发</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-software wow fadeInUp">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/10.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/10.png" class="link-preview" data-lightbox="portfolio" data-title="客户关系管理系统" title="预览"><i class="ion ion-eye"></i></a>
            <a href="/" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="/">智慧旅游</a></h4>
            <p>软件开发</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.1s">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/11.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/11.png" class="link-preview" data-lightbox="portfolio" data-title="招聘微信公众号" title="预览"><i class="ion ion-eye"></i></a>
            <a href="http://www.yangguangbao.com:8080/manage" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="http://www.yangguangbao.com:8080/manage">阳光报</a></h4>
            <p>移动开发</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
        <div class="portfolio-wrap">
          <figure>
            <img src="assets/img/portfolio/12.png" class="img-fluid" alt="">
            <a href="assets/img/portfolio/12.png" class="link-preview" data-lightbox="portfolio" data-title="画瞰视界" title="预览"><i class="ion ion-eye"></i></a>
            <a href="/" class="link-details" title="了解详情"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="/">掌上咸阳</a></h4>
            <p>移动开发</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<!--==========================
    Clients Section
============================-->
<section id="testimonials" class="section-bg wow fadeInUp">
<div class="container">

  <header class="section-header">
	<h3>客户感言</h3>
	<p>客户的满意是对我们最大的肯定，也是我们不断进步的动力！</p>
  </header>

  <div class="owl-carousel testimonials-carousel">

	<div class="testimonial-item">
	  <img src="assets/img/partner/1.png" class="testimonial-img" alt="">
	  <h3>梁总</h3>
	  <h4>虎脸科技 CEO</h4>
	  <p>
		<img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
		专业的业务团队，丰富的业务经验，全面细致、直接有效的业务指导，一对一的详细解答专业性问题，大华科技真棒！
		<img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
	  </p>
	</div>

	<div class="testimonial-item">
	  <img src="assets/img/partner/2.png" class="testimonial-img" alt="">
	  <h3>郭总</h3>
	  <h4>合友科技 CEO</h4>
	  <p>
		<img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
		大华科技，行业翘楚，服务最好，没有之一！
		<img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
	  </p>
	</div>

	<div class="testimonial-item">
	  <img src="assets/img/partner/3.png" class="testimonial-img" alt="">
	  <h3>赵总</h3>
	  <h4>昊景网络 CEO</h4>
	  <p>
		<img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
		大华科技的开发能力和热情周到的售后服务让人印象深刻，期待再次合作！
		<img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
	  </p>
	</div>

	<div class="testimonial-item">
	  <img src="assets/img/partner/4.png" class="testimonial-img" alt="">
	  <h3>李总</h3>
	  <h4>掘金一号 CEO</h4>
	  <p>
		<img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
		在2018年的合作中，与大华科技合作愉快，小伙伴对接项目回馈及时，项目均能按时如约完成。希望明年可以继续合作！
		<img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
	  </p>
	</div>

	<div class="testimonial-item">
	  <img src="assets/img/partner/5.png" class="testimonial-img" alt="">
	  <h3>郭教授</h3>
	  <h4>宝鸡文理学院 教授</h4>
	  <p>
		<img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
		一路相伴，携手共进。感谢大华科技给予我们的大力支持和协作！
		<img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
	  </p>
	</div>

  </div>

</div>
</section><!-- #testimonials -->
</main>
