<!--
  版权所有（C）2018，西安大华时代网络科技有限公司。保留所有权利。
 -->
<!--
  页尾组件模板
  @author 刘宏强
-->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-info">
          <h3>大华科技</h3>
          <p>大华科技秉承“开放包容，合作共赢，诚信为本，厚德载物”的核心价值观。公司期待成为客户长期、稳定、可信赖的合作伙伴，真诚希望与广大有志之士合作共赢，共同发展！</p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>常用链接</h4>
          <ul>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/home">首页</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/services">服务范围</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/about">关于我们</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/about">服务条款</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a routerLink="/about">隐私政策</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>联系我们</h4>
          <p>
            <strong>电话:</strong> 177 9226 1329<br>
            <strong>邮箱:</strong> 361604199@qq.com<br>
            <strong>QQ:</strong>361604199 <br>
            <strong>地址:</strong>西安市高新区唐兴路19号 <br>
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-newsletter">
          <h4>即时通讯</h4>
          <p>我们提供了多种订阅方式方便您追踪获取大华科技的最新消息。如果你正在使用RSS阅读器，请订阅如下的RSS feed：</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit"  value="订阅">
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; 2019 版权所有 <strong>西安大华时代网络科技有限公司</strong> 保留所有权利
    </div>
    <div class="credits">
      陕ICP备18017177号
    </div>
  </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>
