<!--
  版权所有（C）2018，西安大华时代网络科技有限公司。保留所有权利。
 -->
<!--
  页头组件模板
  @author 刘宏强
-->
<header id="header">
  <div class="container-fluid">

    <div id="logo" class="pull-left">
      <h1>
        <a href="#intro" class="scrollto">
          <img src="assets/img/logo.png" alt="大华科技" title="大华科技" class="scrollto" />
          大华科技
        </a>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#intro"><img src="assets/img/logo.png" alt="" title="" /></a>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="/home">首页</a></li>
        <li><a routerLink="/services">服务范围</a></li>
        <li><a routerLink="/solutions">解决方案</a></li>
        <li><a routerLink="/cases">成功案例</a></li>
        <li><a routerLink="/news">新闻动态</a></li>
        <li><a routerLink="/about">关于我们</a></li>
        <li><a routerLink="/contact">联系我们</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->
