<!--
  版权所有（C）2018，西安大华时代网络科技有限公司。保留所有权利。
 -->
<!--
  首页组件模板
  @author 刘宏强
-->

<section id="intro">
  <div class="intro-container">
    <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <div class="carousel-item active">
          <div class="carousel-background"><img src="assets/img/intro-carousel/1.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2>因为专业，所以信赖！</h2>
              <p>大华科技有专业的团队和先进的技术，我们为客户提供优质的产品、热情的服务以及全面的技术支持！大华科技是知名软件企业，公司发展迅速，如果您对我们的产品和服务有兴趣，欢迎您在线留言或者来电咨询！</p>
              <a routerLink="/services" class="btn-get-started scrollto">了解更多</a>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="carousel-background"><img src="assets/img/intro-carousel/2.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2>技术为根，服务为本！</h2>
              <p>大华科技是技术型公司，尤其在IT行业，科学技术和科技人才领先是我们赖以生存的特点和基础！IT行业的特点决定服务是技术的延续，让客户放心，让客户满意，是我们服务的目标，也是公司的生存之本！</p>
              <a routerLink="/solutions" class="btn-get-started scrollto">了解更多</a>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="carousel-background"><img src="assets/img/intro-carousel/3.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2>深耕细作，厚积薄发！</h2>
              <p>大华科技依托十多年深厚的技术积淀、良好的市场口碑和广泛的客户关系，并发挥自身人力资源优势，提供优质的产品和服务！公司具备多项平台产品，多项获奖产品，多个行业信息化整体解决方案！</p>
              <a routerLink="/cases" class="btn-get-started scrollto">了解更多</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>
</section>

<main id="main">

  <section id="services">
    <div class="container">

      <header class="section-header wow fadeInUp">
        <h3>服务范围</h3>
        <p>大华科技主要服务范围包括：网络信息技术、计算机软件、移动通信终端的技术研发、技术服务、技术转让；计算机系统集成等等。</p>
      </header>

      <div class="row">

        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-android-globe"></i></div>
          <h4 class="title"><a routerLink="/services">网站建设</a></h4>
          <p class="description">模板建站 / 网站定制</p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-android-phone-portrait"></i></div>
          <h4 class="title"><a routerLink="/services">移动开发</a></h4>
          <p class="description">APP开发 / 微信开发 / H5定制</p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-android-desktop"></i></div>
          <h4 class="title"><a routerLink="/services">软件开发</a></h4>
          <p class="description">业务软件 / 管理软件 / 工具软件</p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-android-color-palette"></i></div>
          <h4 class="title"><a routerLink="/services">产品 / UI</a></h4>
          <p class="description">产品原型 / UI设计</p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
          <h4 class="title"><a routerLink="/services">数据服务</a></h4>
          <p class="description">数据采集 / 数据分析 / 数据购买</p>
        </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-help-buoy"></i></div>
          <h4 class="title"><a routerLink="/services">IT解决方案</a></h4>
          <p class="description">电商行业 / 餐饮行业 / 金融行业</p>
        </div>

      </div>

    </div>
  </section><!-- #services -->

  <!--==========================
    Call To Action Section
  ============================-->
  <section id="call-to-action" class="wow fadeIn">
    <div class="container text-center">

      <header class="section-header">
        <h3>网站建设</h3>
        <p>网站建设服务包括：模板建站、网站二次开发、前端开发、网站安全维护、网站定制开发、后端开发、手机网站等等。</p>
      </header>

      <a class="cta-btn" routerLink="/services">了解更多</a>
    </div>
  </section><!-- #call-to-action -->

  <!--==========================
    Skills Section
  ============================-->
  <section id="skills">
    <div class="container">

      <header class="section-header">
        <h3>移动开发</h3>
        <p>移动开发服务包括：微信、购物、电商、餐饮、微商、微商城、金融、教育、科技、分销、理财、旅游、娱乐、培训等等。</p>
      </header>

      <div class="skills-content">

        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <span class="skill">微信公众号 <i class="val">100%</i></span>
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <span class="skill">App <i class="val">100%</i></span>
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <span class="skill">Android <i class="val">100%</i></span>
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <span class="skill">iOS <i class="val">100%</i></span>
          </div>
        </div>

      </div>

    </div>
  </section>

  <!--==========================
    Facts Section
  ============================-->
  <section id="facts"  class="wow fadeIn">
    <div class="container">

      <header class="section-header">
        <h3>软件开发</h3>
        <p>软件开发服务包括：管理软件、工具软件、行业软件、嵌入式软件、软件汉化等等。</p>
      </header>

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">100</span>
          <p>Windows</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">100</span>
          <p>Linux</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">100</span>
          <p>Unix</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">100</span>
          <p>Mac</p>
        </div>

      </div>

      <div class="facts-img">
        <img src="assets/img/facts-img.png" alt="" class="img-fluid">
      </div>

    </div>
  </section><!-- #facts -->

  <!--==========================
    About Us Section
  ============================-->
  <section id="about">
    <div class="container">

      <header class="section-header">
        <h3>关于我们</h3>
        <p>
          西安大华时代网络科技有限公司
        </p>
      </header>

      <div class="row about-cols">

        <div class="col-md-4 wow fadeInUp">
          <div class="about-col">
            <div class="img">
              <img src="assets/img/about-mission.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-eye-outline"></i></div>
            </div>
            <h2 class="title"><a routerLink="/about">公司简介</a></h2>
            <p>
			        大华科技是西安领先的综合性软件与信息服务企业。
              为了适应当今互联网化，以及云计算、大数据、人工智能和物联网带来的挑战，公司将业务划分为信息化建设、云计算和大数据、人工智能和物联网三大类。
            </p>
          </div>
        </div>

        <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
          <div class="about-col">
            <div class="img">
              <img src="assets/img/about-plan.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-time-outline"></i></div>
            </div>
            <h2 class="title"><a routerLink="/about">公司愿景</a></h2>
            <p>
              大华科技愿景是成为立足西安、服务全国、行业领先的全链条信息技术服务供应商。
              公司深耕金融、电信、互联网、交通、能源等重点行业，持续开拓市场，为客户提供全链条、高质量、高效率、具有综合优势和行业特色的技术服务。
            </p>
          </div>
        </div>

        <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
          <div class="about-col">
            <div class="img">
              <img src="assets/img/about-vision.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-trophy"></i></div>
            </div>
            <h2 class="title"><a routerLink="/about">企业文化</a></h2>
            <p>
              大华科技秉承“开放包容，合作共赢，诚信为本，厚德载物”的核心价值观。
              公司期待成为客户长期、稳定、可信赖的合作伙伴，真诚希望与合作伙伴共同发展！为成为全国著名的IT服务企业而努力奋斗！
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #about -->

  <!--==========================
    Contact Section
  ============================-->
  <section id="contact" class="section-bg wow fadeInUp">
    <div class="container">

      <div class="section-header">
        <h3>联系我们</h3>
        <p>
          非常感谢您对大华科技的关注，请按以下联系方式与我们联系，您也可以填写下方的表单，我们会尽快与您联系，我们期待与您会面！
        </p>
      </div>

      <div class="row contact-info">

        <div class="col-md-4">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h3>地址</h3>
            <address>西安市高新区唐兴路19号</address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline"></i>
            <h3>电话</h3>
            <p><a href="tel:17792261329">177 9226 1329</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion-ios-email-outline"></i>
            <h3>邮箱</h3>
            <p><a href="mailto:361604199@qq.com">361604199@qq.com</a></p>
          </div>
        </div>

      </div>

      <div class="form">
        <div id="sendmessage">您的邮件已经发送。谢谢！</div>
        <div id="errormessage"></div>
        <form action="" method="post" role="form" class="contactForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" name="name" class="form-control" id="name" placeholder="姓名" data-rule="minlen:4" data-msg="请输入姓名" />
              <div class="validation"></div>
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" name="email" id="email" placeholder="邮箱" data-rule="email" data-msg="请输入邮箱" />
              <div class="validation"></div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="主题" data-rule="minlen:4" data-msg="请输入主题" />
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="请输入内容" placeholder="内容"></textarea>
            <div class="validation"></div>
          </div>
          <div class="text-center"><button type="submit">发送</button></div>
        </form>
      </div>

    </div>
  </section><!-- #contact -->

</main>
