<!--
  版权所有（C）2018，西安大华时代网络科技有限公司。保留所有权利。
 -->
<!--
  关于我们组件模板
  @author 刘宏强
-->
<!-- Solutions 1 -->
<section id="solutions1">
</section>

<!--==========================
      About Section
    ============================-->
<section id="about" class="wow fadeInUp">
  <div class="container">

    <header class="section-header">
      <h3 class="section-title">关于我们</h3>
    </header>

    <div class="row">
      <div class="col-lg-6 about-img">
        <img src="assets/img/about/about11.jpg" alt="">
      </div>

      <div class="col-lg-6 content">
        <h2>西安大华时代网络科技有限公司</h2>
        <h3>
          大华科技（全称：西安大华时代网络科技有限公司）是国内领先的ICT（信息与通信）基础设施和智能终端提供商，致力于把数字世界带入每个人、每个家庭、每个组织，构建万物互联的智能世界。我们在通信网络、IT、智能终端和云服务等领域为客户提供有竞争力、安全可信赖的产品、解决方案与服务，与生态伙伴开放合作，持续为客户创造价值，释放个人潜能，丰富家庭生活，激发组织创新。大华科技坚持围绕客户需求持续创新，加大基础研究投入，厚积薄发，推动世界进步。大华科技成立于2018年。
        </h3>

        <ul>
          <li><i class="ion-android-checkmark-circle"></i> 为客户创造价值</li>
          <li><i class="ion-android-checkmark-circle"></i> 推动产业良性发展</li>
          <li><i class="ion-android-checkmark-circle"></i> 为奋斗者提供舞台</li>
        </ul>

      </div>
    </div>

  </div>
</section><!-- #about -->

<!--==========================
  Services Section
============================-->
<section id="services">
  <div class="container">
    <div class="section-header">
      <h2>核心价值</h2>
      <p></p>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="box wow fadeInLeft">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title"><a href="">开放包容</a></h4>
          <p class="description">唯有开放才能进步，唯有包容才能让进步持久！</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInRight">
          <div class="icon"><i class="fa fa-picture-o"></i></div>
          <h4 class="title"><a href="">合作共赢</a></h4>
          <p class="description">期待与广大有志之士合作共赢，共创辉煌!</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInLeft" data-wow-delay="0.2s">
          <div class="icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="title"><a href="">诚信为本</a></h4>
          <p class="description">市场永远在变，诚信永远不变！</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInRight" data-wow-delay="0.2s">
          <div class="icon"><i class="fa fa-map"></i></div>
          <h4 class="title"><a href="">厚德载物</a></h4>
          <p class="description">天行健，君子以自强不息；地势坤，君子以厚德载物。 </p>
        </div>
      </div>

    </div>

  </div>
</section><!-- #services -->

<!--==========================
  Our Team Section
============================-->
<section id="team" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>关于团队</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="assets/img/team/1.jpg" alt=""></div>
         
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="assets/img/team/2.jpg" alt=""></div>
          
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="assets/img/team/3.jpg" alt=""></div>
          
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="assets/img/team/4.jpg" alt=""></div>
          
        </div>
      </div>
    </div>

  </div>
</section><!-- #team -->

<!--==========================
      Our Portfolio Section
    ============================-->
<section id="about_portfolio" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>团队生活</h2>
      <p></p>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row no-gutters">

      <div class="col-lg-3 col-md-4">
        <div class="portfolio-item wow fadeInUp">
          <a href="assets/img/about/about21.jpg" class="portfolio-popup">
            <img src="assets/img/about/about21.jpg" alt="">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">团队生活</h2></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="portfolio-item wow fadeInUp">
          <a href="assets/img/about/about22.jpg" class="portfolio-popup">
            <img src="assets/img/about/about22.jpg" alt="">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">团队生活</h2></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="portfolio-item wow fadeInUp">
          <a href="assets/img/about/about23.jpg" class="portfolio-popup">
            <img src="assets/img/about/about23.jpg" alt="">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">团队生活</h2></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="portfolio-item wow fadeInUp">
          <a href="assets/img/about/about24.jpg" class="portfolio-popup">
            <img src="assets/img/about/about24.jpg" alt="">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">团队生活</h2></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="portfolio-item wow fadeInUp">
          <a href="assets/img/about/about25.jpg" class="portfolio-popup">
            <img src="assets/img/about/about25.jpg" alt="">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">团队生活</h2></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="portfolio-item wow fadeInUp">
          <a href="assets/img/about/about26.jpg" class="portfolio-popup">
            <img src="assets/img/about/about26.jpg" alt="">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">团队生活</h2></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="portfolio-item wow fadeInUp">
          <a href="assets/img/about/about27.jpg" class="portfolio-popup">
            <img src="assets/img/about/about27.jpg" alt="">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">团队生活</h2></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="portfolio-item wow fadeInUp">
          <a href="assets/img/about/about28.jpg" class="portfolio-popup">
            <img src="assets/img/about/about28.jpg" alt="">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">团队生活</h2></div>
            </div>
          </a>
        </div>
      </div>

    </div>

  </div>
</section><!-- #portfolio -->

<!--==========================
  Call To Action Section
============================-->
<section id="call-to-action" class="wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 text-center text-lg-left">
        <h3 class="cta-title">加入我们</h3>
        <p class="cta-text"> 大华科技一直致力于建设一支团结、富有理想和激情的团队，追求创新进取的精神和蓬勃向上的朝气。<br/>
          大华科技真诚期待与广大有志之士合作共赢，共创辉煌!</p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="#">投递简历</a>
      </div>
    </div>

  </div>
</section><!-- #call-to-action -->
