<!--
  版权所有（C）2018，西安大华时代网络科技有限公司。保留所有权利。
 -->
<!--
  关于我们组件模板
  @author 刘宏强
-->

<section id="module-header">
  <div class="module-header-top">
  </div>
  <div class="module-header-bottom">
    <h3>关于我们</h3>
    <div class="heading-line"></div>
    <p>大华科技是西安领先的综合性软件与信息服务企业。</p>
  </div>
</section>

<section id="about" class="wow fadeInUp">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 about-img">
        <img src="assets/img/about/about11.jpg" alt="">
      </div>

      <div class="col-lg-6 content">
        <h2>西安大华时代网络科技有限公司</h2>
        <h3>
          大华科技是行业领先的软件与信息技术服务企业。我们拥有专业的团队和先进的技术，在IT、网络、云服务和智能终端等领域，依托深厚的技术积淀、良好的市场口碑和广泛的客户关系，为客户提供优质、有竞争力、安全可信赖的产品、解决方案、热情的服务和全面的技术支持。大华科技是技术型公司，技术领先是我们赖以生存的基础。
          大华科技坚持围绕客户需求持续创新，为客户提供“多快好省”的信息技术服务，为客户创造价值，是您值得信赖的伙伴。IT行业的特点决定服务是技术的延续，让客户放心，让客户满意，是我们服务的目标，也是公司的生存之本。
        </h3>
      </div>
      <br/>
      <div class="col-lg-12 content">
        <ul>

          <li></li>
          <li></li>
          <li></li>

          <li><i class="ion-android-checkmark-circle"></i> 大华科技坚持开放包容的心态，坚持合作共赢的理念。唯有开放才能进步，唯有包容才能让进步持久。公司真诚期待与广大有志之士合作共赢，共创辉煌。
          </li>
          <li><i class="ion-android-checkmark-circle"></i> 大华科技坚持诚信为本的经营理念、任人唯贤的用人原则和厚德载物的企业文化。市场永远在变，诚信永远不变。五湖四海、任人唯贤。天行健，君子以自强不息；地势坤，君子以厚德载物。
          </li>
          <li><i class="ion-android-checkmark-circle"></i> 大华科技是知名软件企业，公司发展迅速，如果您对我们的产品和服务有兴趣，欢迎您在线留言或者来电咨询。公司真诚欢迎各界专家领导莅临参观、指导和洽谈业务。
          </li>
        </ul>

      </div>

    </div>

  </div>
</section><!-- #about -->

<!--==========================
  Services Section
============================-->
<section id="services">
  <div class="container">
    <div class="section-header">
      <h2>核心价值</h2>
      <p></p>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="box wow fadeInLeft">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title"><a href="">开放包容</a></h4>
          <p class="description">唯有开放才能进步，唯有包容才能让进步持久！</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInRight">
          <div class="icon"><i class="fa fa-picture-o"></i></div>
          <h4 class="title"><a href="">合作共赢</a></h4>
          <p class="description">期待与广大有志之士合作共赢，共创辉煌!</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInLeft" data-wow-delay="0.2s">
          <div class="icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="title"><a href="">诚信为本</a></h4>
          <p class="description">市场永远在变，诚信永远不变！</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInRight" data-wow-delay="0.2s">
          <div class="icon"><i class="fa fa-map"></i></div>
          <h4 class="title"><a href="">厚德载物</a></h4>
          <p class="description">天行健，君子以自强不息；地势坤，君子以厚德载物。 </p>
        </div>
      </div>

    </div>

  </div>
</section><!-- #services -->

<!--==========================
  Our Team Section
============================-->
<section id="team" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>关于团队</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="assets/img/team/1.jpg" alt=""></div>

        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="assets/img/team/2.jpg" alt=""></div>

        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="assets/img/team/3.jpg" alt=""></div>

        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="assets/img/team/4.jpg" alt=""></div>

        </div>
      </div>
    </div>

  </div>
</section><!-- #team -->

<!--==========================
      Our Portfolio Section
    ============================-->
<section id="about_portfolio" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>团队生活</h2>
      <p></p>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row no-gutters">

      <div class="col-lg-3 col-md-4">
        <div class="portfolio-item wow fadeInUp">
          <a href="assets/img/about/about21.jpg" class="portfolio-popup">
            <img src="assets/img/about/about21.jpg" alt="">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">团队生活</h2></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="portfolio-item wow fadeInUp">
          <a href="assets/img/about/about22.jpg" class="portfolio-popup">
            <img src="assets/img/about/about22.jpg" alt="">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">团队生活</h2></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="portfolio-item wow fadeInUp">
          <a href="assets/img/about/about23.jpg" class="portfolio-popup">
            <img src="assets/img/about/about23.jpg" alt="">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">团队生活</h2></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="portfolio-item wow fadeInUp">
          <a href="assets/img/about/about24.jpg" class="portfolio-popup">
            <img src="assets/img/about/about24.jpg" alt="">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">团队生活</h2></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="portfolio-item wow fadeInUp">
          <a href="assets/img/about/about25.jpg" class="portfolio-popup">
            <img src="assets/img/about/about25.jpg" alt="">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">团队生活</h2></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="portfolio-item wow fadeInUp">
          <a href="assets/img/about/about26.jpg" class="portfolio-popup">
            <img src="assets/img/about/about26.jpg" alt="">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">团队生活</h2></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="portfolio-item wow fadeInUp">
          <a href="assets/img/about/about27.jpg" class="portfolio-popup">
            <img src="assets/img/about/about27.jpg" alt="">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">团队生活</h2></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="portfolio-item wow fadeInUp">
          <a href="assets/img/about/about28.jpg" class="portfolio-popup">
            <img src="assets/img/about/about28.jpg" alt="">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">团队生活</h2></div>
            </div>
          </a>
        </div>
      </div>

    </div>

  </div>
</section><!-- #portfolio -->

<!--==========================
  Call To Action Section
============================-->
<section id="call-to-action" class="wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 text-center text-lg-left">
        <h3 class="cta-title">加入我们</h3>
        <p class="cta-text"> 大华科技一直致力于建设一支团结、富有理想和激情的团队，追求创新进取的精神和蓬勃向上的朝气。<br/>
          大华科技真诚期待与广大有志之士合作共赢，共创辉煌!</p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="#">投递简历</a>
      </div>
    </div>

  </div>
</section>

<!--==========================
    Clients Section
============================-->
<section id="clients" class="wow fadeInUp">
<div class="container">

  <header class="section-header">
	<h3>合作伙伴</h3>
	<p>大华科技已经和华为、中软、阿里、虎脸科技、合友科技、昊景网络、掘金一号、宝鸡文理学院等公司和院校建立了长期合作关系，在信息化领域积累了大量的经验，打造了一系列行业通用产品，期待与您合作！</p>
  </header>

  <div class="owl-carousel clients-carousel">
	<img src="assets/img/clients/1.png" alt="">
	<img src="assets/img/clients/2.png" alt="">
	<img src="assets/img/clients/3.png" alt="">
	<img src="assets/img/clients/4.png" alt="">
	<img src="assets/img/clients/5.png" alt="">
	<img src="assets/img/clients/6.png" alt="">
	<img src="assets/img/clients/7.png" alt="">
	<img src="assets/img/clients/8.png" alt="">
  </div>

</div>
</section><!-- #clients -->
