<!--
  版权所有（C）2018，西安大华时代网络科技有限公司。保留所有权利。
 -->
<!--
  联系我们组件模板
  @author 刘宏强
-->
<main id="main">
<section id="module-header">
  <div class="module-header-top">
  </div>
  <div class="module-header-bottom">
    <h3>联系我们</h3>
    <div class="heading-line"></div>
    <p>大华科技是知名软件企业，公司发展迅速，如果您对我们的产品和服务有兴趣，欢迎您在线留言或者来电咨询！</p>
  </div>
</section>

<section id="contact" class="wow fadeInUp">
  <div class="container">

    <div class="facts-img" style="text-align: center;">
      <img src="assets/img/contact/contact11.jpg" alt="" class="img-fluid">
    </div>

    <div class="row contact-info">

      <div class="col-md-4">
        <div class="contact-address">
          <i class="ion-ios-location-outline"></i>
          <h3>地址</h3>
          <address>西安市高新区唐兴路19号</address>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-phone">
          <i class="ion-ios-telephone-outline"></i>
          <h3>电话</h3>
          <p><a href="tel:17792261329">177 9226 1329</a></p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-email">
          <i class="ion-ios-email-outline"></i>
          <h3>邮箱</h3>
          <p><a href="mailto:361604199@qq.com">361604199@qq.com</a></p>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="form">
      <div id="sendmessage">您的邮件已经发送。谢谢！</div>
      <div id="errormessage"></div>
      <form action="" method="post" role="form" class="contactForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" name="name" class="form-control" id="name" placeholder="姓名" data-rule="minlen:4" data-msg="请输入姓名" />
            <div class="validation"></div>
          </div>
          <div class="form-group col-md-6">
            <input type="email" class="form-control" name="email" id="email" placeholder="邮箱" data-rule="email" data-msg="请输入邮箱" />
            <div class="validation"></div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="主题" data-rule="minlen:4" data-msg="请输入主题" />
          <div class="validation"></div>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="请输入内容" placeholder="内容"></textarea>
          <div class="validation"></div>
        </div>
        <div class="text-center"><button type="submit">发送</button></div>
      </form>
    </div>

  </div>
</section>
</main>
