/**
 *  版权所有（C）2018，西安大华时代网络科技有限公司。保留所有权利。
 */
/**
 * 	服务范围组件样式
 *
 * @author 刘宏强
 */

/* --- section content general color --- */

/* --- section content general color --- */

.color-light h1,.color-light h2,.color-light h3,.color-light h4,.color-light h5,.color-light h6 {
	color: #fff;
}

.color-light p {
	color: #eee;
}

/* ==========================
Parallax
============================= */

#services1{
  background-image: url(../../assets/img/services/service1.jpg);
  padding: 30px 0;
  height: 180px;
  transition: all 0.5s;
  background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* ================================
About
================================= */

#about .about-img {
  height: 350px;
  overflow: hidden;
}

#about .about-img img {
  margin-left: -15px;
  max-width: 100%;
}

@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }
  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

#about .content h2 {
  color: #333;
  font-weight: 300;
  font-size: 24px;
  text-align: left;
}

#about .content h3 {
  color: #777;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
  text-align: left;
}

#about .content p {
  line-height: 26px;
  text-align: left;
}

#about .content p:last-child {
  margin-bottom: 0;
}

/* ================================
Services
================================= */
.service.carousel h4,.service.carousel p {
	text-align: left;
}


.service .carousel-control{
	background: none;
}

.service .screenshot{
	overflow: hidden;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

.service .screenshot img{
	margin-right: auto;
	margin-left: auto;
	padding-left: 4px;
	width: 400px;
}

.service .carousel-indicators {
	position: relative;
	bottom: 0;
	left: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 5px;
	padding-bottom: 8px;
	width: 100%;
	background: #ffffff;
}

.service .carousel-indicators .active {
	width: 45px;
	height: 5px;
	border: none;
	border-radius: 0px;
}

.service .carousel-indicators li {
	display: inline-block;
	margin: 1px;
	width: 45px;
	height: 5px;
	border: none;
	border-radius: 0px;
	background: #eeeeee;
	text-indent: -999px;
	cursor: pointer;
}

/* ================================
more media queries
================================= */

@media (max-width:768px) {

	header{
		padding-bottom: 50px;
		min-height: 1000px;
		height: 100%;
	}

	.navbar-nav {
		float: left;
		text-align: left;
	}

	.box-team, .box-team img {
		text-align: center;
	}
	.box-team img {
		float: none;
		margin:0 auto;
	}
	.box-team {
		margin-bottom: 30px;
	}

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; padding: 0 40px; }

}

@media (max-width:992px) {

	.service.carousel .item h4, .service.carousel .item p{
		text-align: center;
	}

	.service p{
			margin-bottom: 60px;
	}
	.og-expander {
		background: transparent;

	}
	.og-details {
		padding: 0 20px;
	}

}

@media (max-width:480px){

	header .carousel-iphone, .detail .screenshot{
		width: 280px;
	}

	header .carousel, .detail .screenshot img{
		padding-top: 85px;
		width: 245px;
	}

	.service .screenshot img{
		margin-top: -12px;
		padding-top: 0px;
	}

	header{
		padding-top: 30px;
		padding-bottom: 0px;
	}

	header h1{
		font-size: 70px;
	}
}
