<!--
  版权所有（C）2018，西安大华时代网络科技有限公司。保留所有权利。
 -->
<!--
  新闻动态组件模板
  @author 刘宏强
-->
<section id="module-header">
  <div class="module-header-top">
  </div>
  <div class="module-header-bottom">
    <h3>新闻动态</h3>
    <div class="heading-line"></div>
    <p>为您推荐大华科技最新的新闻和行业动态，敬请关注。</p>
  </div>
</section>

<section id="content">
  <div class="container">

    <div class="row">

      <div class="col-lg-4">
        <aside class="left-sidebar">
          <div class="widget">
            <form role="form">
              <div class="form-group">
                <input type="text" class="form-control" id="s" placeholder="搜索...">
              </div>
            </form>
          </div>
          <div class="widget">
            <h5 class="widgetheading">分类</h5>
            <ul class="cat">
              <li><i class="fa fa-angle-right"></i><a href="#">公司新闻</a><span> (8)</span></li>
              <li><i class="fa fa-angle-right"></i><a href="#">行业动态</a><span> (16)</span></li>
            </ul>
          </div>
          <div class="widget">
            <h5 class="widgetheading">最新动态</h5>
            <ul class="recent">
              <li>
                <img src="assets/img/logo.png" class="pull-left" alt="" />
                <h6><a href="#">大华科技官网上线</a></h6>
                <p>
                  热烈庆祝大华科技官网上线了！
                </p>
              </li>

            </ul>
          </div>
          <div class="widget">
            <h5 class="widgetheading">热点标签</h5>
            <ul class="tags">
              <li><a href="#">签约客户</a></li>
              <li><a href="#">行业动态</a></li>
              <li><a href="#">公司活动</a></li>
              <li><a href="#">年度先进</a></li>
              <li><a href="#">先进个人</a></li>
              <li><a href="#">公司制度</a></li>
            </ul>
          </div>
        </aside>
      </div>

      <div class="col-lg-8">
        <article>
          <div class="post-image">
            <div class="post-heading">
              <h3><a href="#">大华科技官网上线</a></h3>
            </div>
            <div class="facts-img">
              <img src="assets/img/news/news11.jpg" alt="" class="img-fluid">
            </div>
          </div>
          <p>
            热烈庆祝大华科技官网上线了！
          </p>
          <div class="bottom-article">
            <ul class="meta-post">
              <li><i class="fa fa-calendar"></i><a href="#"> 2018年11月18日</a></li>
              <li><i class="fa fa-user"></i><a href="#"> 管理员</a></li>
              <li><i class="fa fa-folder-open"></i><a href="#"> 公司新闻</a></li>
              <li><i class="fa fa-comments"></i><a href="#">16 评论</a></li>
            </ul>
          </div>
        </article>

      </div>

    </div>
  </div>
</section>
