/**
 *  版权所有（C）2018，西安大华时代网络科技有限公司。保留所有权利。
 */
/**
 * 	完整布局组件样式
 *
 * @author 刘宏强
 */
.main-container{
    margin-top: 60px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;

}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
